<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bar Labea</title>
<link rel="stylesheet" href="styles/styles.css">
<script src="js/hashearPass.js"></script>
</head>

<body>
	<header th:include="plantillas/plantillas.html::cabecera"></header>

	<nav th:include="plantillas/plantillas.html::menu"></nav>

	<main>
		<div class="contenedor-titulo-section">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 128 128">
					<path fill="#4EC1F5" d="M63.38 4.07c-4.22.09-5.44 4.69-6.95 8.45s-10.5 24.21-16.32 34.53s-13.7 23.84-12.58 43.17c1.13 19.33 16.14 33.76 37.17 33.6c19.01-.14 35.64-11.1 36.32-34.91c.56-19.71-10.28-36.74-15.63-47.16c-3.18-6.2-13.59-26.95-14.69-29.52c-1.97-4.6-2.81-8.26-7.32-8.16"/>
					<path fill="#B3E2FB" d="M47.38 64.42c-2.96.13-10 9.29-10 20.84s5.45 20.08 11.4 18.86c6.9-1.41 5.77-8.45 4.36-14.08c-1.21-4.84-3.1-10.56-3.52-15.77c-.26-3.37.86-9.99-2.24-9.85"/>
				</svg>
			</div>
			<h2>Dificultad</h2>
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 128 128">
				<path fill="#4EC1F5" d="M63.38 4.07c-4.22.09-5.44 4.69-6.95 8.45s-10.5 24.21-16.32 34.53s-13.7 23.84-12.58 43.17c1.13 19.33 16.14 33.76 37.17 33.6c19.01-.14 35.64-11.1 36.32-34.91c.56-19.71-10.28-36.74-15.63-47.16c-3.18-6.2-13.59-26.95-14.69-29.52c-1.97-4.6-2.81-8.26-7.32-8.16"/>
				<path fill="#B3E2FB" d="M47.38 64.42c-2.96.13-10 9.29-10 20.84s5.45 20.08 11.4 18.86c6.9-1.41 5.77-8.45 4.36-14.08c-1.21-4.84-3.1-10.56-3.52-15.77c-.26-3.37.86-9.99-2.24-9.85"/>
			</svg>
			</div>
		</div>
		<div id="contenedor-section">
			<section class="section-form section-datos"
				th:if="${'ADMIN'.equals(s_usu.role.nombre) || 'USUARIO'.equals(s_usu.role.nombre)}">
				<div>
					<form th:action="@{/InsertarDificultad}" method="post"
						th:object="${obj_dificultad}" class="display-column">
						<div>
							<h3 class="titulo-form">Insertar dificultad</h3>
						</div>
						<div class="display-row">
							<div class="display-row">
								<label>Nombre:</label>
								<input type="text" th:field="*{dificultad}"
									placeholder="Ej: Muy facil" required>
							</div>
							<input type="submit" value="Insertar dificultad">
						</div>
					</form>
				</div>
			</section>
			<section>
				<div class="section-datos">
					<table>
						<thead>
							<tr>
								<th>ID</th>
								<th>Dificultad</th>
								<th>Gestión</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="elem: ${listaDificultades}">
								<td th:text="${elem.id}"></td>
								<td th:text="${elem.dificultad}"></td>
								<td>
									<a th:href="@{/ModificarDificultad(id=${elem.id})}"
										class="modificar">Modificar</a>
									<a th:href="@{/BorrarDificultad(id=${elem.id})}" class="borrar">Borrar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</main>

	<footer th:include="plantillas/plantillas.html::pie"></footer>
</body>

</html>