<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bar Labea</title>
<link rel="stylesheet" href="styles/styles.css">
<script src="js/hashearPass.js"></script>
</head>

<body>
	<header th:include="plantillas/plantillas.html::cabecera"></header>

	<nav th:include="plantillas/plantillas.html::menu"></nav>

	<main id="main-inicio">
		<div th:replace="~{plantillas/plantillas :: notificacion}"></div>
		<section>
			<form th:action="@{/ModificarReceta}" method="post"
				th:object="${obj_receta}">
				<div>
					<h2 class="titulo-form">Modificar receta</h2>
				</div>
				<div class="display-column-form">
					<input type="hidden" th:field="*{id}" readonly> <label>Nombre:</label>
					<input type="text" th:field="*{nombre}"
						placeholder="Ej: Patatas fritas" required>
				</div>
				<div class="display-column-form">
					<label>Dificultad:</label> <select th:field="*{dificultad.id}">
						<option th:each="elem:${listaDificultades}" th:value="${elem.id}"
							th:text="${elem.dificultad}" required>
					</select>
				</div>
				<div class="display-row-inputs">
					<div>
						<a th:href="@{/MenuInicio}" class="a-svg-back"> <svg
								xmlns="http://www.w3.org/2000/svg" width="20" height="20"
								viewBox="0 0 8 8">
										<path fill="currentColor" d="M4 2h4v6H4l1-2h1V4H4v2L0 3l4-3"
									/ class="svg-back"></svg>
						</a>
					</div>
					<input type="submit" value="Modificar receta">
				</div>
			</form>
		</section>
	</main>

	<footer th:include="plantillas/plantillas.html::pie"></footer>
	<script th:src="@{/js/tiempoNotificacion.js?v=1.1}"></script>
</body>

</html>