<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar Labea</title>
    <link rel="stylesheet" href="styles/styles.css">
	<link rel="stylesheet" href="styles/loginStyles.css">
	<script src="js/hashearPass.js"></script>
</head>

<body>
   <header th:include="plantillas/plantillas.html::cabecera"></header>



    <main id="mainSinMenu">
        <section id="sectionSinMenu">
			<form th:action="@{/ValidarUsuario}" method="post" th:object="${obj_usuario}" class="login-panel-glass" id="form-login">
				<div>
					<h2>Login</h2>
				</div>
				<div>
					<label>Usuario:</label>
					<input type="text" th:field="*{user}" value=""></input>
				</div>
				<div>
					<label>Contraseña:</label>
					<input type="text" id="pass_sin_hash" oninput="calcularSha256();"></input>
				</div>
				<input type="hidden" th:field="*{pass}" value=""></input>
				<input type="submit" value="Enviar">
			</form>
        </section>
    </main>

    <footer th:include="plantillas/plantillas.html::pie"></footer>
</body>

</html>