<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bar Labea</title>
<link rel="stylesheet" href="styles/styles.css">
<script src="js/hashearPass.js"></script>
</head>

<body>
	<header th:include="plantillas/plantillas.html::cabecera"></header>

	<nav th:include="plantillas/plantillas.html::menu"></nav>

	<main>
		<div class="contenedor-titulo-section">
			<div>
				
			</div>
			<h2>Perfil de usuario</h2>
			<div>
				
			</div>
		</div>
		<div id="contenedor-section">
			<section class="section-form-put">
				<div>
					<form th:action="@{/ModificarUsuario}" method="post"
						th:object="${obj_usuario}">
							<div>
								<h3 class="titulo-form">Modificar datos perfil</h3>
							</div>
							<div class="display-column-form">
								<input type="hidden" th:field="*{id}" readonly>
								<label>User:</label>
								<input type="text" th:field="*{user}"
									placeholder="Ej: Patatas fritas" required>
							</div>
							<div class="display-column-form">
								<label>Pass:</label>
								<input type="password" id="pass_sin_hash" oninput="calcularSha256();"></input>
							</div>
							<div class="display-row">
								<div>
								<a th:href="@{/MenuInicio}" class="a-svg-back">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 8 8"><path fill="currentColor" d="M4 2h4v6H4l1-2h1V4H4v2L0 3l4-3"/ class="svg-back"></svg>
								</a>								
								</div>
								<input type="hidden" th:field="*{pass}" value="">
								<input type="submit" value="Modificar usuario">
							</div>
					</form>
				</div>
			</section>
		</div>
	</main>

	<footer th:include="plantillas/plantillas.html::pie"></footer>
</body>

</html>