#form-login{
	display: flex;
	gap: 0.45rem;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	padding: 14px;
		background-image: linear-gradient(rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.4)), url('/imagenes/fondo-cabecera.jpg');
	background-size: cover;
	background-position: center;
}

#form-login input{
	border: 0;
}

#form-login div:first-child{
	margin-bottom: 2rem;
}

#form-login div{
	gap: 5px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}



label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #bbb;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: var(--colorPrincipalClaro);
    box-shadow: 0 0 4px var(--colorPrincipalClaro);
}

input[type="submit"] {
    width: 100%;
    margin-top: 15px;
    padding: 4px;
    font-size: 18px;
    font-weight: 500;
    color: var(--colorPrincipalOscuro);
    background-color: var(--fondoClaro);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    text-shadow: 0 0 1px var(--colorPrincipalOscuro);
}

input[type="submit"]:hover {
    background-color: var(--colorContraste);
    color: var(--fondoClaro);
}
input[type="submit"]:active {
    background-color: var(--colorContrasteOscuro);
    color: var(--fondoClaro);
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--colorPrincipalOscuro);
    font-size: 0.9em;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}