:root {
	--colorPrincipal: rgb(255, 128, 0);
	--colorPrincipalClaro: rgb(255, 167, 79);
	--colorPrincipalOscuro: #3E2723;
	--colorPrincipalOscuroActivo: rgb(113, 71, 64);
	--colorContraste: #DAA520;
	--colorContrasteOscuro: rgb(255, 206, 187);
	--colorContrasteClaro: #FAF9F6;
	--colorPeligro: rgb(255, 55, 55);
	--colorPeligroActivo: rgb(255, 89, 89);
	--fondoClaro: #F4F7FC;
	--fondoOscuro: #6C757D;
	--fondoCristal: rgba(190, 200, 220, 0.2);
	--fondoCristalOscuro: rgba(190, 200, 220, 0.75);
	--fondoCristalOscuroOpaco: rgb(205, 213, 228);
	--motionBlur: blur(4px);
	--fuenteMontserrat: "Montserrat";
	--fuenteSans: "OpenSans";
	--paddingGeneral: 10px;
	--alturaCabecera: 80px;
	--altoBotonMenu: 50px;
	--anchoBotonMenu: 200px;
	--alturaPie: 80px;
	--alturaTituloCabecera: 60px;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

p, label, input {
	font-family: var(--fuenteSans);
	color: var(--colorPrincipalOscuro);
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	font-family: var(--fuenteMontserrat);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
/* Estilos de la cabecera */
header {
	background-color: var(--fondoClaro);
	height: var(--alturaCabecera);
	min-width: calc(4 * var(--anchoBotonMenu));
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: var(--paddingGeneral);
}

#cabecera_izq {
	width: 200px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

#cabecera_cen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

#cabecera_der {
	width: 320px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

header h1 {
	font-size: 72px;
	color: var(--colorPrincipalClaro);
	font-family: var(--fuenteSerif);
}

header h2 {
	font-size: 24px;
	color: var(--colorPrincipalClaro);
	font-family: var(--fuenteSerif);
}

#cabecera_der img {
	margin: 0 0 0 var(--paddingGeneral);
}

/* estilos del menu*/
nav {
	background: linear-gradient(.25turn, var(--fondoClaro), 15%,
		var(--fondoCristalOscuro));
	min-width: calc(4 * var(--anchoBotonMenu)+ (2* var(--paddingGeneral)));
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav div {
	display: flex;
}

nav li {
	list-style: none;
}

nav .a-buttom {
	color: var(--colorPrincipalOscuro);
	display: inline-block;
	height: var(--altoBotonMenu);
	width: var(--anchoBotonMenu);
	text-align: center;
	line-height: var(--altoBotonMenu);
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.2s ease-in;
	background-color: var(--fondoCristalOscuroOpaco);
}

.separacion-a-nav {
	border-radius: 20px 0 0 0;
	border-left: 0.5px solid var(--fondoClaro);
}

.z-index-superior-1 {
	z-index: 2;
}

.z-index-superior-2 {
	z-index: 4;
}

.transladar-izq-25 {
	transform: translate(-25px, 0);
}

.transladar-izq-50 {
	transform: translate(-50px, 0);
}

nav .a-buttom:visited {
	color: var(--colorPrincipalOscuro);
}

nav .a-buttom:hover {
	background-color: var(--colorPrincipal);
	border-radius: 20px 0 0 0;
	color: var(--colorContrasteClaro);
	text-shadow: 1px 1px 2px var(--colorPrincipal);
}

nav .a-buttom:active {
	background-color: var(--colorPrincipalClaro);
}

/* Cuerpo de la pagina  */
main {
	flex-grow: 1;
	min-height: 100vh;
	background-color: var(--fondoClaro);
	min-height: calc(100vh - var(--alturaCabecera)- var(--altoBotonMenu)- var(--alturaPie)-		
		 (4* var(--paddingGeneral)));
	box-sizing: border-box;
	margin-left: 1.75rem;
	margin-right: 1.75rem;
}

#main-admin {
	background-image: url('/imagenes/fondo-admin.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#main-inicio {
	background-image: url('/imagenes/fondo-inicio.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#main-dificultad {
	background-image: url('/imagenes/fondo-dificultad.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#main-perfil {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url('/imagenes/fondo-perfil.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.contenedor-form-perfil{
	position: absolute;
	top: 25%;
}
#mainSinMenu {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--alturaCabecera)- var(--alturaPie)- (6* var(--paddingGeneral)));
	box-sizing: border-box;
	background-image: url('/imagenes/fondo-login.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 4px;
	height: 100%;
	align-items: center;
	justify-content: center;
	gap: 8px;
	height: 100%;
	margin-top: 1.25rem;
}

#sectionSinMenu {
	background-color: rgba(0 0 0 0.5);
	height: 100%;
	padding: 0;
	margin-left: 4rem;
	margin-right: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 4px;
}

.section-table {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 1%;
	width: 100%;
	overflow: hidden;
	width: 100%;
}

.contenedor-tabla{
	max-height: 344px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.section-datos {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 90%;
	margin-top: 20px;
	margin-bottom: 2.75rem;
}
.section-datos div:first-child{
	display: flex;
	justify-content: center;
}

.section-datos table {
	width: 100%;
	min-width: 250px;
	max-width: 500px;
	margin: 0 auto;
	border-collapse: collapse;
	margin: 0 auto;
}

.titulo-form {
	color: var(--fondoClaro);
	text-shadow: 0 2px 2px var(--colorPrincipalOscuro);
	padding: 4px 8px;
	text-align: center;
}

form {
	padding: 12px 18px;
	display: flex;
	gap: 1.25rem;
	flex-direction: column;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
}

.texto-recortado {
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h2 {
	color: var(--colorPrincipalOscuro);
	font-size: 1.35rem;
}

.login-panel-glass {
	background-color: var(--fondoCristal);
	backdrop-filter: var(--motionBlur);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0px 1px 1px var(--colorPrincipal);
	border-radius: 8px;
	padding: 30px;
}

/* Espaciado de cada bloque del formulario */
form div {
	display: flex;
	flex-direction: column;
}

form div:first-child {
	padding-bottom: 0px;
}
/* Estilo de las etiquetas */
label {
	font-weight: bold;
	text-shadow: 0 0 1px var(--fondoOscuro);
}

.button-svg {
	border:rgb(0, 128, 255);
	cursor: pointer;
}

.display-row-buttons{
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.contenedor-filtro-botones{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: end;
	gap: 2.75rem;
}

.button-search{
	cursor: pointer;
	border: 0;
	background: none;
}

@keyframes rotacionLupa {
	0% { transform: rotate(0deg); }   
  15% { transform: rotate(-25deg); } 
  30% { transform: rotate(0deg); }  
  45% { transform: translateY(-2px); }  
  60% { transform: rotate(25deg); }
  75% { transform: translateY(2px); }
  100% {transform: rotate(0deg); }
}

.lupa{
	color: rgba(39, 97, 245, 0.95);
}
.lupa:hover{
	animation: rotacionLupa 4s infinite;
	transform-origin: center;
	color: rgba(30, 80, 210, 0.95);
}
.lupa:active{
	color: rgba(76, 120, 233, 0.95);
}

@Keyframes rotacionLimpiar {
	0% { transform: rotate(0deg); }   
  15% { transform: rotate(25deg); } 
  30% { transform: rotate(-25deg); }  
  45% { transform: rotate(0deg); }  
  60% { transform: rotate(25deg); }
  75% { transform: rotate(-25deg); }
  100% {transform: rotate(0deg); }
}

.limpiar{
	color: maroon;
}
.limpiar:hover{
	animation: rotacionLimpiar 4s infinite;
	transform-origin: center;
	color: var(--colorPrincipalOscuro);
	transform: rotate(25deg);
}
.limpiar:active{
	color: var(--colorPrincipal);
}
.svg-back {
	color: var(--colorPrincipalOscuro);
	transition: all 0.3s ease-in-out;
}

.a-svg-back:hover .svg-back {
	color: var(--colorPrincipal);
	stroke: var(--colorPrincipalOscuroActivo);
	stroke-width: 0.5px;
}

.a-svg-back:active .svg-back {
	color: var(--colorPrincipalClaro);
	stroke: var(--colorPrincipal);
	stroke-width: 0.5px;
}

input[type="text"], input[type="password"], input[type="number"], select
	{
	width: 100%;
	padding: 2px 4px;
	border: 1px solid #bbb;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
	outline: none;
	border-color: var(--fondoCristalOscuro);
	box-shadow: 0 0 4px var(--fondoOscuro);
}

input:focus, select:focus {
	outline: none;
	background-color: #fff;
}

/* Input type submit */
input[type="submit"], .contenedor-lista-botones a {
	width: 160px;
	background-color: var(--fondoClaro);
	color: var(--colorPrincipalOscuro);
	box-shadow: 0 0 1px 1px var(--fondoClaro);
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in;
	font-weight: bold;
	border: 0;
	transition: all 0.35s ease-in-out;
}

input[type="submit"]:hover, .contenedor-lista-botones a:hover {
	background-color: var(--colorPrincipalOscuro);
	color: var(--fondoClaro);
	box-shadow: 0 0 1px 1px var(--colorPrincipalOscuro);
}

input[type="submit"]:active, .contenedor-lista-botones a:hover {
	background-color: var(--colorPrincipalOscuroActivo);
	color: var(--fondoClaro);
	box-shadow: 0 0 1px 1px var(--colorPrincipalOscuroActivo);
}

/* pie de la pagina  */
footer {
	height: var(--alturaPie);
	padding: var(--paddingGeneral);
	background-color: var(--fondoCristalOscuro);
}

table {
	width: 100%;
	border-spacing: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	backdrop-filter: blur(10px);
	border-collapse: separate;
	table-layout: fixed;
	border-collapse: separate;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
}

thead {
	position: sticky;
	top: 0;
	z-index: 2;
	background: var(--colorPrincipalOscuro);
}

thead th {
	position: sticky;
	top: 0;
	z-index: 2;
	color: var(--fondoClaro);
	text-shadow: 1px 1px 2px var(--colorPrincipalOscuro);
	padding: 12px 16px;
	border-left: 1px solid var(--fondoClaro);
	background-clip: padding-box;
	font-weight: 700;
}

thead th:first-child {
	border-radius: 4px 0 0 0;
}

thead th:last-child {
	border-radius: 0 4px 0 0;
}

.vehiculos thead tr th, .administracion thead tr th {
	width: 135px;
}

.marcas thead tr .data-id, .tipos thead tr .data-id, .vehiculos thead tr .data-id,
	.administracion thead tr .data-id {
	width: 30px;
}

th:first-child {
	border-left: none;
}

td {
	align-items: center;
	width: 100%;
	padding: 12px 14px;
	border-top: 0.5px solid var(--fondoOscuro);
	border-left: 1px solid var(--fondoOscuro);
}

td div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

td div a {
	display: flex;
}

td:first-child {
	border-left: 0;
}

td a {
	text-decoration: none;
	background-color: var(--fondoClaro);
	color: var(--colorPrincipalOscuro);
	box-shadow: 0 0 1px 1px var(--fondoClaro);
	padding: 5px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
	font-weight: bold;
}

td a:hover {
	background-color: var(--colorPrincipalOscuro);
	box-shadow: 0 0 1px 1px var(--colorPrincipalOscuro);
	color: var(--fondoClaro);
}

td a:active {
	background-color: var(--colorPrincipalOscuroActivo);
	box-shadow: 0 0 1px 1px var(--colorPrincipalOscuroActivo);
	color: var(--fondoClaro);
}

td .borrar:hover {
	background-color: var(--colorPeligro);
	box-shadow: 0 0 1px 1px var(--colorPeligro);
	color: var(--fondoClaro);
}

td .borrar:active {
	background-color: var(--colorPeligroActivo);
	box-shadow: 0 0 1px 1px var(--colorPeligroActivo);
}

.contenido-editor-prod {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contenedor-lista-botones {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.contenedor-lista-botones a {
	text-decoration: none;
	text-align: center;
}

.display-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	padding: 0;
	gap: 12px;
}

.display-row-inputs {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: end;
	padding: 0;
	gap: 1.25rem;
}

.display-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.display-column-form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 0.25rem;
}

.display-column label {
	text-align: left;
}

.svg-login {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.svg-login div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor-menu-desplegable {
	position: relative;
}

.menu-desplegable {
	height: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 100%;
	background-color: var(--fondoCristalOscuroOpaco);
	z-index: 10;
	border-radius: 0 0 4px 4px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all 0.3s ease-in-out;
	width: 100%;
}

.menu-desplegable a {
	width: 100%;
	color: var(--colorPrincipalOscuro);
	text-decoration: none;
	box-sizing: border-box;
	padding: 6px;
}

.menu-desplegable a:last-child {
	border-radius: 0 0 4px 4px;
}

.menu-desplegable a:hover {
	color: var(--fondoClaro);
	background-color: var(--colorPrincipal);
}

.contenedor-menu-desplegable:hover .menu-desplegable {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}